<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" >


<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <thead>
  <td>id</td>
  <td>title</td>
  <td>price</td>
  </thead>
  <tbody>
  <tr th:each="it : ${productList}">
    <td>
      <span th:text="${it.id}"></span>
    </td>
    <td>
      <span th:text="${it.title}"></span>
    </td>
    <td>
      <span th:text="${it.price}"></span>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/add}">Add product</a>
</body>
</html>